USE [master]
GO
/****** Object:  Database [VehiculosSOAPDB]    Script Date: 10/9/2026 0:21:40 ******/
CREATE DATABASE [VehiculosSOAPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehiculosSOAPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehiculosSOAPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehiculosSOAPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehiculosSOAPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
USE [VehiculosSOAPDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/9/2026 0:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 10/9/2026 0:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Kilometraje] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 10/9/2026 0:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](20) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Supercars', N'Vehículos super deportivos', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Sedán', N'Vehículos de turismo de tres volúmenes', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Camioneta', N'Vehículos de carga ligera con balde', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (1, N'PBB-1234', N'Toyota', N'Fortuner', 2023, CAST(45000.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (2, N'PCN-5678', N'Chevrolet', N'Cruze', 2021, CAST(18500.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (9, N'PCC-1122', N'Kia', N'Sportage', 2024, CAST(32000.00 AS Decimal(10, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Vehiculos] FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[Vehiculos] ([IdVehiculo])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Vehiculos]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculo_Categoria]
GO
USE [master]
GO
